
.cbp_tmtimeline > li .cbp_tmicon::before {/* Phone icon */
  width: 45px;
  height: 45px;
  background-color: #46a4da;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  text-transform: none;
  position: absolute;
  left: 20%;
  right: 80%;
  text-align: center;
  font-size: 28px;
  line-height: normal;
  content: '\260e';
  margin-top: 6px;
}

 .cbp_tmtimeline > li .cbp_tmlabel {/*Set attributes for blue boxes */
  margin:35px 0 45px 25%;/* Set margin off left */
}

.cbp_tmtimeline > li .cbp_tmicon {/* Set light-blue background for phone icon */
  width: 57px;
  height: 57px;
  background-color: #afdcf8;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  margin-left: 13.5%;
}

.cbp_tmtimeline::before {/* Make skinny vertical line */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #afdcf8;
  left: 20%;
  right: 80%;
  text-align: center;
  margin-left: -10px;
  margin-bottom: -117.5%;
  margin-top: 15%;
}/* I'm not fully sure of what this is doing. */

.cbp_tmtime {/* Date and Time Box */
  display: block;
  padding-right: 30px;
  position: absolute;
  margin-left: 5%;
}

time > span:first-of-type {/* Date properties */
  color: lightgrey;
  font-size: 100%;
  display: block;
  text-align: right;
  float: right;
}

time > span:last-of-type {/* Time properties */
  font-size: 250%;
  color: cornflowerblue;
  display: block;
  text-align: right;
  clear:both;
}
