/* TRACER BULLET!
div .cbp-mc-column{
  border: 1px solid yellow;
}*/

* {/*fonts, background color, color */
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #47a3da;
}

.cbp-mc-column {/*Create 3 columns side by side*/
  float: left;
  width: 33%;
  margin: auto;
}

.cbp-mc-form .cbp-mc-column input {
  color: #FFF;
  font-size: 14pt;
  line-height: 1.5px;
  border: 3px solid #FFF;
  padding: 15px;
  display: block;
  margin:auto;
  width: 80%;
}

.cbp-mc-form .cbp-mc-column textarea {
  color: #FFF;
  line-height: 1.5px;
  border: 3px solid #FFF;
  padding: 75px 15px;
  display: block;
  margin:auto;
  width: 80%;
}

.cbp-mc-form .cbp-mc-column select {
  color: #FFF;
  line-height: 1.5px;
  border: 1px solid rgb(166, 166, 166);
  padding: 15px;
  display: block;
  margin:auto;
  width: 80%;
}

label {
  text-transform: uppercase;
  display:block;
  color: #FFF;
  padding: 20px 0 10px;
  width:auto;
  margin: 0 5%;
}

/*vvv  Submit Button Stuff vvv */
.cbp-mc-submit-wrap {
  clear:both;
  padding-top: 25px;
}

.cbp-mc-submit:hover {/*Submit button will change color on `hover`*/
  background-color: rgba(16, 104, 154, 0.5);
}

.cbp-mc-submit {
  background-color: rgb(16, 104, 154);
  clear:both;
  color: #FFF;
  text-transform: uppercase;
  padding: 20px 40px;
  border: none;
  margin-left: 45%;
  margin-right: 45%;
  width: auto;
}

label .cbp-mc-submit {
  text-transform: uppercase;
  display:block;
  color: #fff;
  border: 2px;
}
/* ^^^ Submit Button Stuff ^^^ */
