* {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #47a3da;
  color: #fff;
  border: 2px;
}

container {
  width: 90%;
}

.cbp-mc-column {
  float: left;
  border: 1px solid black;
  width: 33%;
}

.cbp-mc-column:nth-child(3) {
  background-color: orange;
  float: left;
  width: 33%;
}

.cbp-mc-submit-wrap {
  background-color: magenta;
  clear:both;
}

.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
  padding: 5px 10px;
  color: #FFF;
  line-height: 1.5px;
  width: 33%;
  border: 2px solid white;
}

.cbp-mc-form label, input, textarea, select{
  margin: 15px 10px;
  width: 33%;
  padding: 10px 10px;
}

label {
  text-transform: uppercase;
  display:block;
}
