* {/*fonts, background color, color */
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #47a3da;
}

container { /* div that holds form and content*/
  width: 90%;
}

.cbp-mc-column {
  float: left;
  width: 33%;
  margin: 0 0 10px;
}

.cbp-mc-submit {
  background-color: rgb(16, 104, 154);
  clear:both;
  background-color: #10689;
  color: #FFF;
  padding: 15px 30px;
  border: none;
  text-align: center;
}

.cbp-mc-submit:hover {
  background-color: rgba(16, 104, 154, 0.5);
}

.cbp-mc-form .cbp-mc-column input, textarea, select {
  color: #FFF;
  line-height: 1.5px;
  border: 2px solid white;
  padding: 10px 0;
  display: block;
  width: 90%;
}

label {
  text-transform: uppercase;
  display:block;
  padding: 10px 10px;
  margin: 5px 5px;
  color: #fff;
  border: 2px;
}
