@media (min-width: 500px){

    ul.dropdown.active {
      box-sizing: border-box;
      margin: 0;
      width: auto;
      li {
        // box-sizing: border-box;
        width: 100% * (1/3);
        height:100%;
        display: block;
        // background-color: teal;
        img {
          position: static;
          margin: 0;
          width: 100%;
          margin: 0 auto;
          height: 100%;
          clear: both;
        }
        h3 {
          display: block;
          text-align: center;
          width: 50%;
          padding: 0 25%;
        }
      }
    }
}
