@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Lato);
nav.container {
  width: 100%; }

ul {
  list-style-type: none;
  padding-left: 0; }

a[href] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;
  background-color: #47a3da;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  padding: 20px 0 20px;
  border-bottom: 1px solid #e6e6e6; }
  a[href].dropdown::after {
    content: '\234c';
    font-size: 145%;
    color: #53BFFF;
    position: absolute;
    right: 15px;
    top: 20%;
    bottom: 20%; }
  a[href].no.dropdown::after {
    content: none; }
  a[href]:hover {
    color: #02639d; }
  a[href].dropdown:hover::after {
    color: #02639d; }

ul.dropdown {
  display: none; }
  ul.dropdown.active {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #e6e6e6; }

ul.dropdown {
  display: none;
  position: relative; }
  ul.dropdown.active li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    color: #9a9a9a;
    border-bottom: 1px solid #b8b8b8; }
    ul.dropdown.active li img {
      display: inline-block;
      position: absolute;
      opacity: 1;
      bottom: 5px;
      max-width: 100%;
      max-height: 85%; }
    ul.dropdown.active li h3 {
      display: inline-block;
      font-size: 1.1em;
      padding: 7px 15%; }
    ul.dropdown.active li:hover {
      color: #808080; }
      ul.dropdown.active li:hover img {
        opacity: .5;
        transition: opacity 0.25s; }

a[href].dropdown.active {
  color: #02639d; }
  a[href].dropdown.active::after {
    content: '\2353';
    color: #02639d; }
  a[href].dropdown.active.no::after {
    content: none; }

ul.active div {
  position: absolute;
  left: 46%;
  right: 46%;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #47a3da; }

@media (min-width: 401px) {
  li.grid {
    box-sizing: border-box;
    background-color: #e6e6e6;
    margin: 0;
    width: 100%; }
    li.grid ul.dropdown.active {
      width: 90%;
      margin: 0 auto; }
      li.grid ul.dropdown.active li {
        width: 32.66667%;
        display: inline-block;
        margin-top: 15px; }
      li.grid ul.dropdown.active img {
        position: static;
        display: inline-block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: -20px;
        margin-top: 20px; }
      li.grid ul.dropdown.active h3 {
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 5px;
        padding: 30px 0;
        font-size: .9em;
        width: auto;
        text-align: center;
        display: block; } }

@media (min-width: 851px) {
  ul.dropdown {
    display: none;
    top: 0; }
  li.grid {
    box-sizing: border-box;
    background-color: #e6e6e6;
    margin: 0;
    width: 100%; }
    li.grid ul.dropdown.active {
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 62px;
      left: 0;
      right: 0; }
      li.grid ul.dropdown.active li {
        margin: 0 auto;
        width: 25%;
        display: inline-block;
        margin-top: 15px;
        border-bottom: 0px; }
      li.grid ul.dropdown.active li.content {
        margin: 0 auto;
        width: 16.33333%;
        display: inline-block;
        margin-top: 15px; }
        li.grid ul.dropdown.active li.content.first {
          margin-left: 24.5%; }
  ul.active div.lovely-spirits {
    left: 9%; }
  ul.active div.delicious-beverages {
    left: 29%; }
  ul.active div.fine-liquors {
    left: 49%; }
  a[href] {
    float: left;
    width: 20%;
    position: relative;
    font-size: 0.9em;
    padding: 7px 0 11px; }
    a[href]:hover {
      color: #02639d; }
    a[href].dropdown::before {
      content: '\234c';
      font-size: 145%; }
    a[href].dropdown::after {
      content: none; }
    a[href].dropdown:hover::before {
      color: #02639d; }
    a[href].dropdown.active::after {
      content: none; }
    a[href].dropdown.active.no::after {
      content: none; }
    a[href].dropdown.active::before {
      content: '\2353';
      color: #02639d; }
    a[href].no.dropdown::before {
      color: #47a3da;
      top: 10%;
      bottom: 10%; }
    a[href].no.dropdown:hover::before {
      color: #47a3da; } }

body {
  font-family: 'Lato', 'Open Sans', sans-serif; }
