section {
  box-sizing: border-box;
  width: 100%; }
  section ul {
    list-style-type: none;
    padding-left: 0; }
  section li {
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
    background-color: teal; }
    section li img {
      width: 100%;
      display: block; }
    section li div {
      box-sizing: border-box;
      position: absolute;
      display: inline;
      visibility: visible;
      width: 80%;
      height: 80%;
      margin: 10%;
      top: 10px;
      background-color: rgba(71, 163, 218, 0); }
      section li div h1 {
        color: rgba(255, 255, 255, 0);
        font-size: 1.5em;
        text-align: center;
        margin: 50% 25%; }
    section li div:hover {
      visibility: visible;
      background-color: rgba(71, 163, 218, 0.3); }
      section li div:hover h1 {
        color: white; }

section li {
  width: 50%; }
  @media (min-width: 401px) {
    section li {
      width: 33.33333%; } }
  @media (min-width: 726px) {
    section li {
      width: 25%; } }
  @media (min-width: 1001px) {
    section li {
      width: 20%; } }
  @media (min-width: 1213px) {
    section li {
      width: 16.66667%; } }
