@media (max-width:45em) {
  body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 200;
    font-size: 80%;
  }

time {
  display: block;
  text-align: right;
  span:first-of-type {/* Date properties */
    color: gray;
    font-size: 50%;
    float: right;
  }
  span:last-of-type {/* Time properties */
    font-size: 125%;
    color: cornflowerblue;
  }
}

  .cbp_tmtimeline > li {
    .cbp_tmicon {/* Set light-blue background for phone icon */
      width: 57px;
      height: 65px;
      position: absolute;
      text-align: center;
      margin-left: 60%;
      margin-top: -70px;
}
    .cbp_tmlabel {
        margin:75px 10% 5px 10%;
    }
    .cbp_tmtimeline::before {
      content: none;
    }
    .cbp_tmicon::after {
      width: 45px;
      height: 45px;
      background-color: #46a4da;
      color: #fff;
      line-height: 40px;
      border-radius: 50%;
      text-transform: none;
      position: absolute;
      left: 70%;
      right: 30%;
      text-align: center;
      font-size: 28px;
      line-height: normal;
      content: '\260e';
      margin-top: 8px;
    }
  }

  .cbp_tmicon::before {
    width: 60px;
    height: 60px;
    background-color: #afdcf8;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    text-transform: none;
    position: absolute;
    left: 70%;
    right: 30%;
    text-align: center;
    font-size: 28px;
    line-height: normal;
    content: '\260e';
    margin-left: -8px;
  }

  .cbp_tmtime {/* Date and Time Box */
    display: block;
    float: right;
    padding-right: 30px;
    position: absolute;
    margin-left: 18%;
    margin-top: -35px;
  }
}
