/* View Mode Switch stylesheet*/

/*** START Global Selectors --> ***/

  /*** <-- START Header ***/
header {
  color: #02639d;
}
  /*** <-- END Header ***/

body {
  font-family: "Lato" sans-serif;
  background-color: #fff;
}

li {
  text-align: center;
  list-style: none;
}
/*** <-- END Global Selectors ***/



/*** <-- START JS Switch ***/



/*** <-- END JS Switch ***/

/*** START Top Buttons --> ***/


.cbp-vm-options {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 3px solid #47a3da;
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      font-family: 'fontawesome';
      color: #02639d;
        .cbp-vm-list::before {
          content: "\f00b";
        }
        .cbp-vm-grid::before {
          content: '\f00a';
        }
    }
}

/*** <-- END Top Buttons ***/

/*** START List View Selectors --> ***/

.list {
  .cbp-vm-image img {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: bottom;
  }
  li {
    display: block;
    width: 90%;
    div, h3 {
      display: inline-block;
      width: 23%;
      vertical-align: middle;
    }
    a:last-of-type {
      display: inline-block;
      padding: 10px 20px;
      background-color: #47a3da;
      border-radius: 2px;
      color: #fff;
      text-decoration: none;
      display: inline;
      width: 23%;
    }
    a:last-of-type:hover {
      background-color: #02639d;
      transition: background 0.2s;
    }
  }
}


/*** <-- END List View Selectors ***/

/*** START Grid View Selectors --> ***/

.grid {
  width: 100%;
  color: #47a3da;
}

*, *::after, *::before {
  box-sizing: border-box;
}

li::before {
    padding:20px;
    width:auto;
}

/*** <-- END Grid View Selectors ***/


/*** <-- END Switch View Effects ***/
